<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="person"
		class="com.sc.collection.setterInjection.map.Person">
		<property name="friendList">
			<map>
				<entry key="101" value="sumit" />
				<entry key="102" value="sourabh" />
				<entry key="103" value="rohit" />
			</map>
		</property>
	</bean>

</beans>

